:root {
    --mouse-x: 0px;
    --mouse-y: 0px;
    --color-picker-value:'#000000';
    --eraser-color: '#FFFFFF';
}

html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid {
    width: auto;
    display: flex;
    /* background-color: blue; */
    border: 10px solid lightskyblue;
    border-radius: 10px;
}

.cols {
    padding: 10px;
    border: 1px solid gray;
}

.selected {
    background-color: black;
}

.buttons {
    margin: 25px;
    display: flex;
}

.reset,
.rainbow,
.color-picker,
.eraser  {
    height: 40px;
    width: auto;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    background-color: lightskyblue;
    margin-left: 15px;
}

.rainbow-colors {
    background-color: rgb(var(--mouse-x), var(--mouse-y), var(--mouse-y));
}

.color-picker {
    width: 50px;
}

.colors{
    background-color: var(--color-picker-value);
}

.erase {
    background-color: var(--eraser-color);
}
